@import "./tokens.css";
@import "./base.css";
@import "./layout.css";

@import "./components/header.css";
@import "./components/footer.css";

@import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/modal.css";
@import "./components/table.css";

@import "./pages/home.css";
@import "./pages/login.css";
